 @media screen and (min-width: 576px) {
  
     .contens {
           text-align:center;
           

       
       }
        h1{
            text-align: center;
            
            

        }

}

.navbar-nav {
    margin-right: 5em;
}

.font-list:hover{
    transition: all 1s;
    cursor: pointer;

}