h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    
    
}
body{
    background-color:silver;
    margin:0;
    padding: 0;

}
ul{
   
    position: absolute;
    width: 10px;
    margin: 0;
    padding: 0;
    margin-left: 6px;
    margin-top: 3em;
    
}
li{
    font-family: hack;
    font-size: 2vh;
    list-style: none;
    margin-top: 5em;
    background-color: whitesmoke;
    width: 5em;
    text-decoration: none;
    display: block;
    border-radius: 2em;
}

.navbar{
    position: absolute;
    text-align: center;
    width: 5em;
    height: 20em;
    border-radius: 5em;
    margin-top: 6em;
    background-color: black;
   ;
    margin-left: 3em;
}


.form-group{
    position: relative;
    margin-top: 5px;
   
}
.container{
    
    text-decoration: dashed;
    position: absolute;
    background-color:white;
    height: 35em;
    width: 25em;
    margin-left: 50em;
    margin-top: 3em;
    
    
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    
}
.row{
   
    position: relative;
    widows: 24px;
    height: auto;
    margin-top:3em
}
input  {
    border-radius: 20px;
    text-shadow: 1em;
    font-family: hack;
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    text-decoration: none;
    width: 18em;
    height: 2em;
    margin-bottom: 20px;
}
 button{
    position: absolute;
    font-family: hack;
    border-color: wheat;
    margin-left: 4em;
    border-radius: 1em;
    

    
}

.row > .col > img{
    width: 10em;
    height: 10em;
    position: relative;
    border-radius: 10em;
    
}

.col{
    width: 100px;
    height: 80px;
    position: absolute;
    margin-left: 8em;
}



form{
    
    position: absolute;
    margin-top: 12em;
    margin-left: 1em;
}